* {
    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

/* Header */
header {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-bottom: 2px solid black;
}

header li {
    display: inline;
    padding: 20px;
    font-weight: bold;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

header ul {
    margin-left: auto;
    margin-right: 250px;
    margin-bottom: 20px;
}

header h1 {
    margin-left: 350px;
    margin-bottom: 20px;
}

header li:hover {
    background-color: rgba(198, 189, 189, 0.8);
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-top: 40px;
    padding-bottom: 30px;
}

/* About Me */
img {
    height: 390px;
    width: 260px;
    margin-left: 260px;
}

.AboutMe {
    display: flex;
    margin-top: 40px;
}

.AboutMeTxt {
    width: 50%;
    margin-left: 40px;
}

.AboutMeTxt h2 {
    font-size: 30px;
}

.AboutMeTxt p {
    font-size: 25px;
    margin-top: 20px;
}

/* Footer */
footer {
    margin-top: 75px;
    border-top: 2px solid black;
    margin-bottom: 10px;
}

footer p {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: bold;
}

footer li {
    font-size: 20px;
    padding-top: 5px;
}

/* Projects */
.MixedMessages img {
    height: 206px;
    width: 597px;
    margin-right: 250px;
    margin-top: 5px;
}

.projectsMain h2 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration: underline;
}

.projectsMain p {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.MMGitHubLink {
    color: blue;
    text-decoration: underline;
}

.MMGitHubLink:hover {
    text-decoration: none;
}

.projectsMain button {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

.projectsMain button:hover {
    cursor: pointer;
}

.MMonclick {
    display: none;
}

.CanyonCreek img {
    height: 258px;
    width: 737px;
    margin-right: 250px;
    margin-top: 5px;
}

.CCCGitHubLink {
    color: blue;
    text-decoration: underline;
}

.CCCGitHubLink:hover {
    text-decoration: none;
}

.CCConclick {
    display: none;
}

.HGSonclick img {
    height: 398px;
    width: 896px;
    margin-right: 250px;
    margin-top: 5px;
}

.HGSGitHubLink {
    color: blue;
    text-decoration: underline;
}

.HGSGitHubLink:hover {
    text-decoration: none;
}

.HGSonclick {
    display: none;
}